<?xml version="1.0"?>
<launch>

    <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" respawn="true">
    <!-- <node pkg="fkie_master_discovery" type="master_discovery" name="master_discovery" respawn="true"> -->
        <rosparam file="$(find raspi_camera)/launch/config/raspi_multimaster.yaml" command="load"/>
    </node>
    <node pkg="master_sync_fkie" type="master_sync" name="master_sync" respawn="true"/>
    <!-- <node pkg="fkie_master_sync" type="master_sync" name="master_sync" respawn="true"/> -->
    <node pkg="raspi_camera" type="main.py" name="main" respawn="true"/>

</launch>